.imagemDeFundo {
    position: relative;
    text-align: left; 
}

.Prefeitura {
    position: absolute;
    top: 85%; 
    left: 17%;
    transform: translateY(-50%); 
    line-height: 1;
    width: 97px;
    height: 65px;
}

.Secretaria {
    position: absolute;
    top: 84.5%; 
    left: 5%; 
    transform: translateY(-50%); 
    line-height: 1;
    width: 115px;
    height: 59px;
}

.imagemCentralizada {
    width: 100%;
    height: auto;
    display: block;
}

.imagemP {
    position: absolute;
    top: 56%; 
    left: 57%; 
    transform: translateY(-50%); 
    width: 500px; height: 500px;
    z-index: 0;
    mask-image: linear-gradient(to top, transparent 0%, black 10%);
}

.textoSobreImagem {
    position: absolute;
    top: 40%; 
    left: 5%; 
    transform: translateY(-50%); 
    color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 5em; 
    line-height: 1;
}

.textoPequenoSobreImagem {
    position: absolute;
    top: 65%; 
    left: 5%; 
    transform: translateY(-50%); 
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1;
}


@media screen and (max-width: 1258px) { /* ================================ 1258px ================================ */
.textoSobreImagem {
font-size: 4em;
}
.imagemP {
    width: 400px; height: 400PX;
    top: 56%; 
    left: 57%;
    }

}

@media screen and (max-width: 1052px) { /* ================================ 1052px ================================ */
.textoSobreImagem {
font-size: 3em; 
}



}

@media screen and (max-width: 944px) { /* ================================= 944px ================================ */
.imagemCentralizada {
    box-sizing: border-box; /* Adicione esta linha */
    width: 100%;
    max-width: 100%;
    height: 550px;
    display: block;
}

.Prefeitura {
    top: 85%; 
    left: calc(35% - 20%);  
    width: 90px;
    height: 65px;
}

.Secretaria {
    top: 84.5%; 
    left: calc(35% + 20%);
    width: 100px;
    height: 59px;
}

.textoSobreImagem {
font-size: 3em;
}
.imagemP {
width: 350px; height: 350PX;
top: 56%; 
left: 57%;
}

}
@media screen and (max-width: 814px) { /* ================================ 814px ================================ */
.textoSobreImagem {
font-size: 45px; 
}
.imagemP {
width: 300px; height: 300PX;
top: 56%;
left: 57%;
}


}

@media screen and (max-width: 740px) { /* ================================ 740px ================================ */
.textoSobreImagem {
font-size: 39px;
}

.imagemP {
width: 260px; height: 260PX;
top: 56%; 
left: 57%;
}


}

@media screen and (max-width: 666px) { /* ================================ 666px ================================ */

.imagemCentralizada {
    width: 700px;
}
}

@media screen and (max-width: 600px) { /* ================================ 600px ================================ */

    .imagemP{
        width: 200px; height: 200PX;
        top: 56%; 
        left: 57%;
    }
}

@media screen and (max-width: 467px) { /* ================================ 467px ================================ */

    .imagemP{
        width: 150px; height: 150PX;
        top: 15%; 
        left: 33%;
    }
}

@media screen and (max-width: 394px) { /* ================================ 394px ================================ */
    .textoSobreImagem {
        font-size: 30px;
        }
    .imagemP{
        width: 150px; height: 150PX;
        top: 15%; 
        left: 33%;
    }
}